.a-login {

    text-decoration: none;
    display: inline-block;

}
.a-login a:link, a:visited{
    text-decoration: none;
    display: inline-block;
}
.a-login a:hover, a:focus, a:active{
    text-decoration: none;
    display: inline-block;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .form-container {
     
      border-radius: 10px;
      border: 1px solid lightgray;
  }
  .enquete {
      width: 25px;
      height: 25px;
      padding: 0px;
  }